@charset "UTF-8";

@import "../../common/css/base/html.css";
@import "../../common/css/core/body.scss";

* {
    padding: 0;
    margin: 0;
}
html,body{
    background: #FFF;
    ul {
        list-style: none;
        li {
            background: burlywood;
            span {
                color: blue;
            }
        }
    }

    p {
        b {
            float: right;
            color: mediumvioletred;
        }
    }
}


